/* 1. Reset Global */
*,
*::before,
*::after {
  box-sizing: border-box; /* Fundamental para que el padding no rompa el ancho */
}

/* 2. Inicialización del Body */
body {
  /* Reset de espacios por defecto del navegador */
  margin: 0;
  padding: 0;

  /* Tipografía y legibilidad */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.6; /* Espaciado entre líneas para que no canse la vista */
  color: #333333;

  /* Fondo y dimensiones */
  background-color: #f4f4f4;
  min-height: 100vh; /* Asegura que el body ocupe al menos toda la pantalla */

  /* Suavizado de fuentes (Toque Pro) */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
